
.navbar {
    background-color: #006989;
    color: #eaebed;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-logo {
    margin-right: 10px;
  }
  
  .logo-image {
    height: 70px; /* Ajusta la altura según tus necesidades */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  
  .navbar-item {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .navbar-link {
    color: #eaebed;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;
  }
  .navbar-divider {
    width: 2px;
    height: 25px;
    background-color: #eaebed;
    font-weight: bold;
    margin: 0 10px;
  }
  .navbar-link:hover {
    text-decoration: underline;
    background-color: #01a7c2;
    border-radius: 4px;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .material-icons {
    font-size: 24px;
    margin-left: 5px;
  }
  
